<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @apprentice.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @apprentice.email %>
</p>

<%= link_to 'Edit', edit_apprentice_path(@apprentice) %> |
<%= link_to 'Back', apprentices_path %>
