<h2>Confirm Information</h2>

  <strong>Basic Information</strong>
  First Name: <%=h @apprenticeform.first_name %>
  Last Name: <%=h @apprenticeform.first_name %>
  Email: <%=h @apprenticeform.email %>
  Available Start Date: <%=h @apprenticeform.start_date %>
  Available End Date: <%=h @apprenticeform.end_date %>
  Willingness to Move: <%=h @apprenticeform.willing_to_move %>

  <strong>Demographic Information</strong>
  Phone Number:<%h= @apprenticeform.phone_number %>
  Address: <%h= @apprenticeform.address %>
  Personal Url: <%h= @apprenticeform.url %>
  Social Url: <%h= @apprenticeform.social_url %>

  <strong>Who Am I?</strong>
  <%h= @apprenticeform.personality_question %>