<header class="page-header">
  <h1 class="page-title--special">Learn More &amp; Apply</h1>
</header>
<%= image_tag "SBX_logo_icon_2.svg", class: "logo-special", alt: "Sparkbox Logo" %>

<%= render 'apprenticeship_information' %>

<section class="container">
  <h1 class="info-header">Time to Apply</h1>
  <p class="info-secondary">How bad do you want it? What you provide us is very important — this is your opportunity to present your case. Choose your answers wisely, my friend!</p>
  <%= form_for @apprenticeform, :url => welcome_path, method: :post, html: {class:"apprentice_application_form"} do |f| %>
  <%= render 'basic_information_step', :f => f %>

  <%= f.submit "Begin Application", :class => 'button' %>

  <% end %>

  <%= debug @apprenticeform if Rails.env.development? %>

</section>