<%= form_for @apprenticeform, :url => confirm_step_path, method: :post do |f| %>

<h2 class="input-header">Confirm Information</h2>

  <strong>Basic Information</strong></br>
  First Name: <%= @apprenticeform.first_name %></br>
  Last Name: <%=h @apprenticeform.last_name %></br>
  Email: <%=h @apprenticeform.email %></br>
  Available Start Date: <%=h @apprenticeform.start_date %></br>
  Available End Date: <%=h @apprenticeform.end_date %></br>
  Willingness to Move: <%=h @apprenticeform.willing_to_move %></br>

  <strong>Demographic Information</strong>
  Phone Number:<%=h @apprenticeform.phone_number %></br>
  Address: <%=h @apprenticeform.address %></br>
  Personal Url: <%=h @apprenticeform.url %></br>
  Social Url: <%=h @apprenticeform.social_url %></br>

  <strong>Who Am I?</strong>
  <%=h @apprenticeform.about_me %></br>

  <strong>Why Me?</strong>
  <%=h @apprenticeform.why_me %></br>

  <%= f.hidden_field :id %>

  <%= f.submit "Confirm", :class => 'button' %>
<% end %>