<header class="page-header"></header>
  <%= image_tag "SBX_logo_icon_2.svg", class: "logo-special--2", alt: "Sparkbox Logo" %>
<section class="info">
  <h1 class="info-header">Step 5</h1>
  <p class="info-secondary">Take a minute to look over your entries. If you need to go back and make some edits, you can do this before submitting. Once you hit Submit, your application will be submitted as is. Be sure it contains all the information you want us to have about you.</p>
</section>
<div class="container">
<%= form_for @apprenticeform, :url => confirm_step_path, method: :post do |f| %>

<h2 class="input-header">Basic Information</h2>

  first name <%= @apprenticeform.first_name %></br>
  last name <%=h @apprenticeform.last_name %></br>
  email <%=h @apprenticeform.email %></br>

<h2 class="input-header">Dates Available</h2>

  start date <%=h @apprenticeform.start_date %></br>
  end date <%=h @apprenticeform.end_date %></br>
  You want to give Dayton a shot? <%=h @apprenticeform.willing_to_move %></br>

<h2 class="input-header">Demographic Information</h2>

  phone number <%=h @apprenticeform.phone_number %></br>
  address <%=h @apprenticeform.address %></br>
  personal url <%=h @apprenticeform.url %></br>
  social url <%=h @apprenticeform.social_url %></br>

<h2 class="input-header">Who am I?</h2>

  <%=h @apprenticeform.about_me %></br>

<h2 class="input-header">Why me?</h2>

  <%=h @apprenticeform.why_me %></br>

  <%= f.hidden_field :id %>

  <%= f.submit "Submit", :class => 'button' %>
<% end %>
</div>