<%= form_for @apprenticeform, :url => step_two_path, method: :post do |f| %>

  <h2>Demographic Information</h2>
  Phone Number: <%= f.text_field :phone_number %>
  Address: <%= f.text_field :address %>
  Personal Url: <%= f.text_field :url %>
  Social Url: <%= f.text_field :social_url  %>
  <%= f.hidden_field :id %>

  <%= f.submit "Create" %>

<% end %>

