<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sparkbox Apprenticeships</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/655912/688224/css/fonts.css" />
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/0003f8c8-d8c7-4d1f-95ed-a15461eba017.js"></script>
  <script type="text/javascript">
    var MTIProjectId='0003f8c8-d8c7-4d1f-95ed-a15461eba017';
    (function() {
      var mtiTracking = document.createElement('script');
      mtiTracking.type='text/javascript';
      mtiTracking.async='true';
      mtiTracking.src=('https:'==document.location.protocol?'https:':'http:')+'//fast.fonts.net/t/trackingCode.js';
      (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild( mtiTracking );
    })();
  </script>
</head>
  <body>
    <%= yield %>
    <%= @apprenticeform.errors.full_messages.first if @apprenticeform.errors.any? %>
    <%= debug(params) if Rails.env.development? %>
    <%= render 'footer' %>
  </body>
</html>